
.container {
    display:grid;
    gap: 30px;
    grid-template-areas: 
    "header"
    "main"
    "middle"
    "footer";
}

.header {
    grid-area: header;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
}

.has-border {
    border-radius:25px;
    border: 2px solid rgb(13, 53, 13);
    background: none;
    padding: 10px;
}

nav {
    display: flex-center;
    background-color: rgb(27, 133, 84);
} 

.nav a:hover {
    background-color: white;
    color: black;
}

.main-pic {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-style: solid;
}

h2 {
    border-style: solid;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: black;
    color: white;
}

.words {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
    font-size: small;
}

.copyright {
    text-align: center;
}


@media (min-width: 592px) {
    .container {
        display:grid;
        gap: 30px;
        grid-template-areas: 
        "header"
        "main"
        "middle"
        "footer";
    }
}

 
 @media (min-width: 992px) {
    .container {
        display:grid;
        gap: 30px;
        grid-template-areas: 
        "header"
        "main"
        "middle"
        "footer";
    }
}      