/* body {
    display: grid;
    grid-template-areas: 
    "header"
    "why"
    "pic"
    "people"
    "pic"
    "find" 
    "pic"
    "footer"
} */

.header {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background-color: rgb(9, 203, 58, 0.427);
    color: white;
    text-align: center;
}

.has-border {
    border-radius:25px;
    border: 2px dashed rgb(13, 53, 13);
    background: none;
    padding: 20px;
}

nav {
    display: flex-center;
} 

.nav a:hover {
    background-color: white;
    color: black;
}

 h4 {
     border-style: solid;
     text-align: center;
 }

 h2, p {
    text-align: center;
 }

 .row {
    display:flex;
    padding: 10px;
 }

.column {
    display:flex;
    flex: 50%;
    float:left; 
    width: 50%;
    height: 200px;
    border-style: solid;
    box-sizing: border-box;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(9, 203, 58, 0.427);
    color: white;
    text-align: right;
}

.copyright {
    text-align: right;
}


/* tablet
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-areas: 
        "header"
        "why pic"
        "people pic"
        "find pic"
        "footer"
    }
}

Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {
    .container {
        display: grid;
        grid-template-areas: 
        "header"
        "why pic"
        "people pic"
        "find pic"
        "footer"
    }
} */