 .blog-container {
    display: block;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "why"
    "country"
    "people" 
    "footer";
} 

.blog-container {
    max-width: 100%;
    margin-bottom: 5%;
    text-align: center;
}

 img {
    width: 379px;
    height: 200px;
}

.country, .people, .why {
    border-style: solid;
    border-color: black;
}


.header {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
}

.has-border {
    border-radius:25px;
    border: 2px solid rgb(13, 53, 13);
    background: none;
    padding: 10px;
}

nav {
    display: flex-center;
} 

.nav a:hover {
    background-color: white;
    color: black;
}

h4 {
    border-style: solid;
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.pic, .pic2, .pic3{
    border-style: solid;
}

 h3, p {
    text-align: center;
 }

 p {
    font-size: small;
 }

.button-more {
    background-color: rgb(27, 133, 84);
    color: black; 
    text-align: center;
    font-size: 10px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 5%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    font-size: small;
    text-align: center;
}

.copyright {
    text-align: center;
    font-size: small;
}


/* medium devices
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-areas: 
        "header header header"
        "why"
        "country"
        "people" 
        "footer footer footer"
    }
} 

/* Large devices (laptops/desktops, 992px and up)  */
/* @media (min-width: 992px) { 
    .container {
           display: grid;
        grid-template-areas: 
        "header  header header"
        "pic1 why"
        "pic2 country"
        "pic3 people"
        "footer footer footer"
    }
} */