body {
    text-align: center;
}
.header {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
}

.has-border {
    border-radius:25px;
    border: 2px solid rgb(13, 53, 13);
    background: none;
    padding: 10px;
}

nav {
    display: flex-center;
} 

.nav a:hover {
    background-color: white;
    color: black;
}

h4 {
    border-style: solid;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.button:hover {
    background-color: rgb(6, 114, 24);
    color:white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(124, 228, 150, 0.427);
    color: white;
    text-align: right;
}

.copyright {
    text-align: right;
}