body {
    text-align: center;
}

.header {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
}

.has-border {
    border-radius:25px;
    border: 2px solid rgb(13, 53, 13);
    background: none;
    padding: 10px;
}

nav {
    display: flex-center;
} 

.nav a:hover {
    background-color: white;
    color: black;
}

h2 {
    border-style: solid;
    background-color: black;
    color: white;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

#name {
    text-align: center;
    padding:10px;
}

#address {
    text-align: center;
    padding:10px;
}

#email {
    text-align: center;
    padding:10px;
}

#phone-number {
    text-align: center;
    padding:10px;
}

#message {
    text-align: center;
    padding:10px;
}

.button {
    color:white;
    background-color: black;
    padding: 5px;
}

.button:hover {
    background-color: rgb(251, 255, 251);
    color:black;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(124, 228, 150, 0.427);
    color:black;
    text-align: center;
    font-size: small;
}

.copyright {
    text-align: center;
}

@media (min-width: 592px) {

}

@media (min-width: 976px) {
    
}