.grid-container {
display: grid;
gap: 20px;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"pic1 pic2"
"pic3 pic4"
"pic5 pic6"
"pic7 pic8" 
"pic9 .";
}

.grid-container {
    max-width:100%;
    margin-bottom: 2%;
    text-align: center;
}

 img {
    max-width:100%;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color:black;
}

.header {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
}
.has-border {
    border-radius:25px;
    border: 2px solid rgb(13, 53, 13);
    background: none;
    padding: 10px;
}

nav {
    display: flex-center;
} 

.nav a:hover {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

h2 {
    border-style: solid;
    background-color: black;
    color: white;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

img {
    opacity: .9;
}

img:hover {
    opacity: 1.1;

}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
    font-size: small;
}

.copyright {
    text-align: center;
}  

 @media (min-width: 576px) {
            .grid-container {
                display: grid;
                gap: 30px;
                grid-template-areas:
                "pic1 pic2 pic3"
                "pic4 pic5 pic6"
                "pic7 pic8 pic9";
    } 

    .grid-container {
        max-width:50%;
        margin-bottom: 2%;
        text-align: center;
        margin: auto;
    }

    h2 {
        width: 30%;
    }
}

@media (min-width: 992px) {
    .grid-container {
        display: grid;
        gap: 20px;
        grid-template-areas:
        "pic1 pic2 pic3"
        "pic4 pic5 pic6"
        "pic7 pic8 pic9";
    }

    .grid-container {
        max-width:50%;
        margin-bottom: 2%;
        text-align: center;
        margin: auto;
    }
    
    h2 {
        width: 30%;
    }
}

