.grid-container {
display: grid;
gap: 20px;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
"pic1 pic2"
"pic3 pic4"
"pic5 pic6"
"pic7 pic8" 
"pic9 .";
}

.grid-container {
    max-width:100%;
    margin-bottom: 2%;
    text-align: center;
}

.grid-container > div > img {
    max-width:100%;
}

.header {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: larger;
    border-style: solid;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.has-border {
    border-radius:25px;
    border: 2px solid rgb(13, 53, 13);
    background: none;
    padding: 10px;
}

nav {
    display: flex-center;
} 

.nav a:hover {
    background-color: white;
    color: black;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(124, 228, 150, 0.427);
    color: white;
    text-align: right;
}

.copyright {
    text-align: center;
}  

 @media (min-width: 576px) {
            .grid-container {
                grid-template-columns: 1fr 1fr 1fr;
                display: grid;
                gap: 30px;
                grid-template-areas:
                "pic1 pic2 pic3"
                "pic4 pic5 pic6"
                "pic7 pic8 pic9";
    } 
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        gap: 20px;
        grid-template-areas:
        "pic1 pic2 pic3"
        "pic4 pic5 pic6"
        "pic7 pic8 pic9";
    }
} 