
.container {
    display:grid;
    gap: 30px;
    grid-template-areas: 
    "header"
    "main"
    "middle"
    "footer";
}

.header {
    grid-area: header;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
}

.has-border {
    border-radius:25px;
    border: 2px solid rgb(13, 53, 13);
    background: none;
    padding: 10px;
}

.has-border:hover {
    background-color: white;
    color: black;
} 

.main {
    grid-area: main;
    background-image: url(plant.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 10%;
    border-style: solid;
    max-width: 100%;
    text-align: left;
}

h3 {
    border-style: solid;
    border-color: aliceblue;
    background-color: aliceblue;
    /* padding: 1%; */
    /* margin-left: 50%; */
}

span {
    border-style: 5px solid black;
    color:aliceblue;
    background-color: black;
}

.button-more {
    background-color: rgb(27, 133, 84);
    color: black; 
    text-align: center;
    font-size: 10px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
}

nav a:link, a:visited {
    text-align: center;
    border-style: solid;
}

.middle {
    display: flex;
    flex-direction: column;
    grid-area: middle;
    justify-content: center;
}

.middle > div {
    margin: 10px;
    text-align: center;
}

 img {
    opacity: .8;
    border-style: solid;
    border-color: black;
    opacity: .8;
} 

img:hover {
    opacity: 1.0;
}

.footer {
    grid-area: footer;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(124, 228, 150, 0.427);
    color: black;
    text-align: center;
    font-size: small;
}

.copyright {
    text-align: center;
}

  /* /* medium device  */
 @media (min-width: 762px) {
     .container {
         display: grid;
         gap:30px;
         grid-template-areas:
         "header header header"
         "main main main"
         "middle middle middle"
         "footer footer footer";
     }

     h3 {
        text-align: right;
    
     }

     .middle {
        flex-direction: row;
     }

     .span {
        border-style: 5px solid black;
        color:aliceblue;
        background-color: black;
        margin-left: 70%;
        text-align: center;

    }

 }

 /* large device  */
 @media (min-width: 992px) {
     .container {
         display: grid;
         gap: 30px;
         grid-template-areas:
         "header header header"
         "main main main"
         "middle middle middle"
         "footer footer footer";
     }

     .main {
        text-align: right;
     }

     .middle {
        flex-direction: row;
     }

     span {
        border-style: 5px solid black;
        color:aliceblue;
        background-color: black;
        margin-left: 70%;
        text-align: center;
    }
 }