
.container {
    display:grid;
    gap: 30px;
    grid-template-areas: 
    "header"
    "main"
    "middle"
    "footer";
}

.header {
    grid-area: header;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(124, 228, 150, 0.427);
    color: white;
    text-align: center;
}

.has-border {
    border-radius:25px;
    border: 2px dashed rgb(13, 53, 13);
    background: none;
    padding: 10px;
}

.nav a:hover {
    background-color: white;
    color: black;
}

.main {
    grid-area: main;
    background-image: url(plant.jpg);
    background-size: cover;
    background-position: 50%;
    margin: 0 auto;
    border-style: solid;
    width: 100%;
    text-align: center;
}

h3 {
    border-style: solid;
    border-color: aliceblue;
    background-color: aliceblue;
    width:25%;
    text-align: center;
}

span {
    border-style: solid;
    border-color: black;
    color:aliceblue;
    background-color: black;
}

.middle {
    display: flex;
    flex-direction: column;
    grid-area: middle;
    justify-content: center;
}

.middle > div {
    margin: 30px;
    text-align: center;
}

button {
    text-align: center;
    background-color: lightseagreen;
    color: aliceblue;
    font-size: 10px;
    padding: 10px;
    margin: 10%;
}

.footer {
    grid-area: footer;
    left: 0;
    bottom: 0;cd
    width: 100%;
    background-color: rgba(124, 228, 150, 0.427);
    color: white;
    text-align: right;
}

.copyright {
    text-align: right;
}

 /* medium device */
 @media (min-width: 762px) {
     .container {
         display: grid;
         gap:30px;
         grid-template-areas:
         "header header header"
         "main main main"
         "middle middle middle"
         "footer footer footer";
     }
     .middle {
        display: flex;
        flex-direction: row;
     }
} 

/* large device */
 @media (min-width: 992px) {
     .container {
         display: grid;
         gap: 30px;
         grid-template-areas:
         "header header header"
         "main main main"
         "middle middle middle"
         "footer footer footer";
     }
     .middle {
        display: flex;
        flex-direction: row;
     }
    }